:root {
    --accent-red: #fe1743;
    --accent-dark-blue: #001743;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    font-family: "Readex Pro", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff99;
    backdrop-filter: blur(3px);
    padding-inline: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header select {
    padding: 10px;
    height: fit-content;
    border-radius: 10px;
    border-color: transparent;
    background-color: var(--accent-red);
    color: #fff;
}

.hadith-search {
    padding: 15px;
    margin: 200px auto 100px auto;
    max-width: 800px;
}

.hadith-box {
    padding: 20px 15px;
    margin-bottom: 15px;
    outline: 1px solid #eaeaea;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    gap: 10px;
}

.hadith-box .hadith {
    margin-bottom: 15px;
}

.hadith-box .search-keys {
    color: red;
}

.hadith-box .translation-container {
    background-color: #dae7ff;
    padding: 10px;
    padding-bottom: 1px;
    border-radius: 10px;
}

.hadith-box .user-note input[type="text"] {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, var(--accent-red), var(--accent-dark-blue)) border-box;
    border: 3px solid transparent;
}

button:hover {
    background: linear-gradient(90deg, var(--accent-red), var(--accent-dark-blue)) border-box,
        linear-gradient(90deg, var(--accent-red), var(--accent-dark-blue)) border-box;
    border: 3px solid transparent;
    color: #fff;
}

button:focus {
    background: linear-gradient(90deg, var(--accent-red), var(--accent-dark-blue)) padding-box,
        linear-gradient(black, black) border-box;
    border: 3px solid transparent;
    color: #fff;
}

.search-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-container .search-bar {
    border-radius: 50px;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, var(--accent-red), var(--accent-dark-blue)) border-box;
    border: 3px solid transparent;
    box-sizing: border-box;
    font-size: 1.4rem;
}

.search-container button {
    height: 30px;
    font-size: 1rem;
    width: 40px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: 50px;
    background-color: transparent;
}
