/*---------------- Global ----------------*/

:root {
    --accent-red: #fe1743;
    --accent-red-dark: #9d0a25;
    --bg-main: #1a1d26;
    --bg-second: #2d313d;
    --outline-main: #6a7086;

    --yellow-regular: #ffd500;
    --yellow-dark: #bc9c00;

    --padding-regular: 1rem;
    --padding-small: 0.6rem;

    --border-radius-regular: 1rem;
    --border-radius-large: 5rem;

    --shadow-regular: 0 0.2rem 0.5rem 0.1rem #0000004d;
    --shadow-small: 0 0.2rem 0.2rem 0.1rem #0000004d;

    --transition-regular: all 0.2s ease-in-out;
    --transition-long: all 0.5s ease-in-out;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: var(--accent-red);
    -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
    outline: solid rgba(255, 255, 255, 0.493) 0.2rem;
    border-radius: var(--border-radius-regular);
}

::selection {
    background-color: var(--accent-red);
    color: white;
}

.unselectable {
    user-select: none;
}

body {
    background-color: var(--bg-main);
    color: white;
    overscroll-behavior: contain;
}

button {
    all: unset;
    background-color: transparent;
    height: 1rem;
    padding: 0.1rem 0.5rem;
    transition: var(--transition-regular);
}

button:hover {
    color: var(--outline-main);
}

button.pressed {
    color: var(--accent-red);
}

button.pressed:hover {
    color: var(--accent-red-dark);
}

/*---------------- Header ----------------*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(var(--bg-main), transparent);
    backdrop-filter: blur(0.15rem);
    padding: var(--padding-regular);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.title {
    font-weight: normal;
    font-family: "DM Serif Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.language-select {
    all: unset;
    text-align: center;
    padding: var(--padding-small) var(--padding-regular);
    border-radius: var(--border-radius-regular);
    border: 0.1rem solid var(--accent-red);
    background-color: var(--accent-red);
    color: white;
    transition: var(--transition-regular);
}

.language-select:hover {
    background-color: var(--accent-red-dark);
}

header a {
    all: unset;
}

/*---------------- Hadith search ----------------*/

.hadith-search {
    padding: var(--padding-regular);
    margin: auto;
    position: relative;
    max-width: 50rem;
    transform: translateY(calc(50vh - 60%));
    transition: var(--transition-long);
}

h1.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#search-form {
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-bar-container {
    /* position: sticky;
    top: 0;
    bottom: 0; */
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 0.5rem;
    border-radius: var(--border-radius-large);
    background-color: var(--bg-second);
    color: white;
    padding: 0;
    width: 100%;
    margin-bottom: 1rem;
    border: 0.2rem solid var(--accent-red);
    box-sizing: border-box;
}

#search-bar,
#search-button {
    all: unset;
    color: white;
    padding: 1.2rem;
    border-radius: var(--border-radius-large);
    transition: var(--transition-regular);
}

#search-bar {
    width: 100%;
}

#search-button:hover {
    color: var(--outline-main);
}

.empty-label {
    text-align: center;
}

.more-button {
    all: unset;
    background-color: var(--accent-red);
    border-radius: var(--border-radius-regular);
    text-align: center;
    padding: var(--padding-regular);
    width: 100%;
    box-sizing: border-box;
    box-shadow: var(--shadow-small);
    transition: var(--transition-regular);
}

.more-button:hover {
    box-shadow: var(--shadow-regular);
}

/*---------------- Hadith Box ----------------*/

.hadith-box {
    padding: var(--padding-regular);
    margin-bottom: 1rem;
    border: 0.1rem solid var(--outline-main);
    border-radius: var(--border-radius-regular);
    background-color: var(--bg-second);
    box-shadow: var(--shadow-regular);
    display: grid;
    gap: 1rem;
}

.content-type {
    display: grid;
    gap: 1rem;
}

.hadith {
    margin-bottom: 1rem;
}

.search-keys {
    color: var(--accent-red);
}

.hadith-skeleton {
    width: 100%;
    height: 1rem;
    background-color: var(--bg-main);
    border-radius: var(--border-radius-regular);
}

.translation-container {
    background-color: hsla(349, 99%, 54%, 0.2);
    border: 0.1rem solid var(--accent-red);
    padding: var(--padding-regular);
    border-radius: var(--border-radius-regular);
}

.translated-hadith {
    margin-bottom: 1rem;
}

.translation-status {
    color: var(--accent-red);
}

.static-text {
    opacity: 0.7;
}

/*---------------- User note ----------------*/

.user-note {
    display: flex;
    padding: 0;
    width: 100%;
    position: relative;
}

.user-note.hidden {
    display: none;
}

.note-textarea,
.note-save {
    all: unset;
    border: 0.1rem solid var(--yellow-regular);
    box-sizing: border-box;
    margin-block: 0;
}

.note-textarea {
    overflow: hidden;
    background-color: hsla(50, 100%, 50%, 0.2);
    border-radius: var(--border-radius-regular);
    width: 100%;
    padding: var(--padding-regular);
    padding-inline-end: 2.5rem;
}

.note-save {
    position: absolute;
    inset-inline-end: 0;
    bottom: 0;
    margin: 0.7rem;
    padding: 0.3rem 0.5rem;
    background-color: var(--yellow-regular);
    border-radius: 0.5rem;
    text-align: center;
    color: var(--bg-main);
    transition: var(--transition-regular);
}

.note-save:hover {
    background-color: var(--yellow-dark);
    color: var(--bg-main);
}
